* {
  border: 1px solid red;
}

html,
body {
  background: url(assets/Table-wood.jpg);
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

main {
  background: url(assets/Blue-Beige-Plaid.jpg);
  background-size: cover;
}

.text {
  font-style: oblique;
  font-size: 3em;
  color: Yellow;

}

.player-turn {
  display: flex;
  align-items: center;
}

.player-1-container,
.player-2-container {
  height: 100%;
  width: 70%;
}

.wins-area {
  text-align: center;


  text-size: 10;
}

.stop-click {
  pointer-events: none;
}

.game-board {
    /* background-color: #7FFFD4; */
}

.game-area {

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5em;
}

.game-play-area {

  height: 40vw;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box {
  font-size: 4em;
  display: flex;
  background: url(assets/White-plate-yellow-background.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 30%;
  border-radius: 30px;
